Data/
userPreferences.*
userPreferences.Kirk/methodWindowPositions.json
userPreferences.Kirk/preferences.4DPreferences
userPreferences.Kirk/workspace.json
userPreferences.Kirk/methodPreferences.json
Data/data.journal
Data/data.4DD
